@CHARSET "UTF-8";

.addDepartment{
	font-size: 18px;
	margin: 20 auto;
	text-align:center;
	
}
.control-label{
	margin-left:5px;
	text-align:center;
}
.box-body{
	margin-top:10px;
	text-align:center;
}
.control-input{
	margin-top: 27px;
	text-align:center;
}
.control-label1{
	margin-left:-41px;
	text-align:center;
}
.marge{
	margin-left:580px;
}

